<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SwedenWebSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="718b94">  <td>19/04/01 12:44:32</td>   <td>0</td> <td title="&gt;&gt;SuperTestScript.FilltheExcel(org.testng.ITestContext, java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&gt;&gt;FilltheExcel</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>19/04/01 12:46:27</td>   <td>114911</td> <td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.closeBrowser(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>19/04/01 12:46:28</td>   <td>115456</td> <td title="&lt;&lt;SuperTestScript.closeFramework()[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&lt;&lt;closeFramework</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>19/04/01 12:44:38</td>   <td>6005</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>19/04/01 12:44:43</td>   <td>10843</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>19/04/01 12:44:47</td>   <td>14772</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>19/04/01 12:44:52</td>   <td>19773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>19/04/01 12:44:57</td>   <td>24771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>19/04/01 12:45:02</td>   <td>29834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>19/04/01 12:45:07</td>   <td>34953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>19/04/01 12:45:12</td>   <td>39553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>19/04/01 12:45:17</td>   <td>45292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>19/04/01 12:45:22</td>   <td>49889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>19/04/01 12:45:28</td>   <td>56058</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>19/04/01 12:45:33</td>   <td>61106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>19/04/01 12:45:38</td>   <td>66075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>19/04/01 12:45:45</td>   <td>72396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>19/04/01 12:45:51</td>   <td>78531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>19/04/01 12:45:55</td>   <td>83044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>19/04/01 12:46:01</td>   <td>89159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>19/04/01 12:46:08</td>   <td>95929</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>19/04/01 12:46:13</td>   <td>100950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>19/04/01 12:46:20</td>   <td>107718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>19/04/01 12:44:34</td>   <td>2284</td> <td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initBrowser(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&gt;&gt;initBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>19/04/01 12:44:34</td>   <td>2273</td> <td title="&gt;&gt;SuperTestScript.initFramework(org.testng.ITestContext, java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@6043cd28]">&gt;&gt;initFramework</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1316061703</td>   <td></td> </tr>
</table>
