<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c285f4">  <td>19/03/27 13:05:09</td>   <td>0</td> <td title="&gt;&gt;SuperTestScript.FilltheExcel(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_FI@6e6c3152]">&gt;&gt;FilltheExcel</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>19/03/27 13:05:12</td>   <td>3063</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_FI@6e6c3152]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>19/03/27 13:05:10</td>   <td>1561</td> <td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initBrowser(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_FI@6e6c3152]">&gt;&gt;initBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>19/03/27 13:05:10</td>   <td>1553</td> <td title="&gt;&gt;SuperTestScript.initFramework(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_FI@6e6c3152]">&gt;&gt;initFramework</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@394714818</td>   <td></td> </tr>
</table>
