<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>GermanyWebSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:42:19</td>   <td>0</td> <td title="&gt;&gt;SuperTestScript.FilltheExcel(org.testng.ITestContext, java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&gt;&gt;FilltheExcel</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>19/03/28 16:43:06</td>   <td>46217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FreeTrialFlow_DE.FreeTrialFlow_Positive(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">FreeTrialFlow_Positive</td> 
  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>19/03/28 16:44:15</td>   <td>115624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FreeTrialFlow_DE.FreeTrialFlow_Positive(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">FreeTrialFlow_Positive</td> 
  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>19/03/28 16:45:24</td>   <td>184212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FreeTrialFlow_DE.FreeTrialFlow_Positive(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">FreeTrialFlow_Positive</td> 
  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>19/03/28 16:46:42</td>   <td>262661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FreeTrialFlow_DE.FreeTrialFlow_Positive(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">FreeTrialFlow_Positive</td> 
  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>19/03/28 16:47:46</td>   <td>327012</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FreeTrialFlow_DE.FreeTrialFlow_Positive(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">FreeTrialFlow_Positive</td> 
  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>19/03/28 16:48:43</td>   <td>383905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FreeTrialFlow_DE.FreeTrialFlow_Positive(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">FreeTrialFlow_Positive</td> 
  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>19/03/28 16:50:02</td>   <td>463181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FreeTrialFlow_DE.FreeTrialFlow_Positive(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">FreeTrialFlow_Positive</td> 
  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>19/03/28 16:51:32</td>   <td>553032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FreeTrialFlow_DE.FreeTrialFlow_Positive(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">FreeTrialFlow_Positive</td> 
  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>19/03/28 16:52:55</td>   <td>635312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FreeTrialFlow_DE.FreeTrialFlow_Positive(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">FreeTrialFlow_Positive</td> 
  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>19/03/28 16:54:14</td>   <td>714751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FreeTrialFlow_DE.FreeTrialFlow_Positive(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">FreeTrialFlow_Positive</td> 
  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>19/03/28 16:55:55</td>   <td>815912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FreeTrialFlow_DE.FreeTrialFlow_Positive(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">FreeTrialFlow_Positive</td> 
  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>19/03/28 16:57:25</td>   <td>905583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FreeTrialFlow_DE.FreeTrialFlow_Positive(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">FreeTrialFlow_Positive</td> 
  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>19/03/28 16:58:49</td>   <td>989757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FreeTrialFlow_DE.FreeTrialFlow_Positive(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">FreeTrialFlow_Positive</td> 
  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>19/03/28 17:00:27</td>   <td>1087969</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FreeTrialFlow_DE.FreeTrialFlow_Positive(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">FreeTrialFlow_Positive</td> 
  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>19/03/28 17:02:03</td>   <td>1183785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FreeTrialFlow_DE.FreeTrialFlow_Positive(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">FreeTrialFlow_Positive</td> 
  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:43:33</td>   <td>74189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.cleanApplication()[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&lt;&lt;cleanApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:44:39</td>   <td>139709</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.cleanApplication()[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&lt;&lt;cleanApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:45:49</td>   <td>209893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.cleanApplication()[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&lt;&lt;cleanApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:47:07</td>   <td>287364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.cleanApplication()[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&lt;&lt;cleanApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:48:10</td>   <td>350658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.cleanApplication()[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&lt;&lt;cleanApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:49:20</td>   <td>420399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.cleanApplication()[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&lt;&lt;cleanApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:50:40</td>   <td>500528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.cleanApplication()[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&lt;&lt;cleanApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:52:11</td>   <td>591495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.cleanApplication()[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&lt;&lt;cleanApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:53:32</td>   <td>672484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.cleanApplication()[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&lt;&lt;cleanApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:55:06</td>   <td>766622</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.cleanApplication()[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&lt;&lt;cleanApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:56:39</td>   <td>859248</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.cleanApplication()[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&lt;&lt;cleanApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:58:06</td>   <td>946412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.cleanApplication()[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&lt;&lt;cleanApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:59:29</td>   <td>1030134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.cleanApplication()[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&lt;&lt;cleanApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 17:01:08</td>   <td>1128537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.cleanApplication()[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&lt;&lt;cleanApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 17:02:43</td>   <td>1223887</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.cleanApplication()[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&lt;&lt;cleanApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 17:02:49</td>   <td>1229985</td> <td>&nbsp;</td><td title="&lt;&lt;SuperTestScript.closeBrowser(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 17:02:49</td>   <td>1230058</td> <td title="&lt;&lt;SuperTestScript.closeFramework()[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&lt;&lt;closeFramework</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:42:25</td>   <td>5785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:43:39</td>   <td>80052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:44:45</td>   <td>145610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:45:55</td>   <td>215734</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:47:13</td>   <td>293221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:48:16</td>   <td>356551</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:49:26</td>   <td>426313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:50:46</td>   <td>506423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:52:17</td>   <td>597337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:53:38</td>   <td>678337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:55:12</td>   <td>772619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:56:45</td>   <td>865245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:58:12</td>   <td>952393</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:59:35</td>   <td>1036115</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 17:01:14</td>   <td>1134504</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initApplication(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&gt;&gt;initApplication</td> 
<td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:42:21</td>   <td>2051</td> <td>&nbsp;</td><td title="&gt;&gt;SuperTestScript.initBrowser(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&gt;&gt;initBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
<tr bgcolor="98ae61">  <td>19/03/28 16:42:21</td>   <td>2039</td> <td title="&gt;&gt;SuperTestScript.initFramework(org.testng.ITestContext, java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_DE@3a883ce7]">&gt;&gt;initFramework</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@764372388</td>   <td></td> </tr>
</table>
