<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SwedenWebSuite (0)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="819b92">  <td>19/03/27 18:26:05</td>   <td>0</td> <td title="&gt;&gt;SuperTestScript.FilltheExcel(java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@1efed156]">&gt;&gt;FilltheExcel</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1991294891</td>   <td></td> </tr>
<tr bgcolor="819b92">  <td>19/03/27 18:26:06</td>   <td>1338</td> <td title="&gt;&gt;SuperTestScript.initFramework(org.testng.ITestContext, java.lang.String)[pri:0, instance:registrationflows.FreeTrialFlow_SE@1efed156]">&gt;&gt;initFramework</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1991294891</td>   <td></td> </tr>
</table>
